apiVersion: v1
kind: Service
metadata:
  name: gcp-helper-service
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: gcp-helper
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
